/* Display Property */
.block {
    background-color: lawngreen;
    display: block;
    height: 100px;
}

.inline {
    background-color: violet;
    height: 100px;
}

.inline-block {
    background-color: cornflowerblue;
    display: inline-block;
    height: 100px;
}


/* element position */
.static{
position: static;
background-color: lime;
width: 200px;
height: 50px;
}


.relative{
    position: relative;
    background-color: aqua;
    width: 200px;
    height: 50px;
    }



    .static{
        position: static;
        background-color: lime;
        width: 200px;
        height: 50px;
        }

/* floats */
.float-right{
width: 200 ;
height: 200px ;
background-color: indianred;
float: right;

}